

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.catalog-list {
  list-style-type: none; /* Removes default bullets */
  padding: 0;
  margin: 0;
}

.catalog-list li::before {
  content: "+ "; /* Adds a plus sign before each list item */
  color: #000; /* Set the color of the plus sign if needed */
  font-weight: bold; /* Optional: makes the plus sign bold */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
